body{
    background-color: #2c2a2a;
}
@font-face {
    font-family: ubuntu-Bold;
    src: url(../fonts/ofont.ru_Ubuntu.ttf)
}

@font-face {
    font-family: ubuntu-Regular;
    src: url(../fonts/ofont.ru_Ubuntu\ _regular\ \(1\).ttf);
}

@font-face {
    font-family: ubuntu-Medium;
    src: url(../fonts/ubuntu-medium.ttf);
}

@font-face {
    font-family: Sans-bold;
    src: url(../fonts/work-sans-bold.ttf);
}

@font-face {
    font-family: poppins_regular;
    src: url(../fonts/poppins-regular.ttf);
}

@font-face {
    font-family: poppins_medium;
    src: url(../fonts/poppins-medium.ttf);
}

*{
    margin: 0;
    padding: 0;  
}

.container{
    width: auto;
    justify-items: center;
    margin: 0 auto;
}

.header{
    display: flex;
    background-color: black;
    width: 1920px;
    height: 90px;
    align-items: center;
    justify-content: center;
    
}

.header_logo{
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    margin-left: 300px;
}

.hdr_nav{
    align-items: center;
    display: flex;
    margin-left: 318px;
    gap: 40px;
}

.hdr_txt{
    color: white;
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-family: ubuntu-Medium ;
}

.hdr_txt:hover{
    color: #FF496C; 
}

.hdr_txt:active{
    color: #f23849;
}


.hdr_btn {
    margin-left: 299px;
    background-color: #f23849;
    border: none;
    width: 160px;
    height: 45px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.hdr_btn:hover{
    background-color: #FF496C;
}
.hdr_btn:active{
    background-color: #f23849;
}
.block_one{
    background-image: url(../img/unsplash_KaxVB5xh4Nw.png);
    background-repeat: no-repeat;
    width: 1920px;
    height: 870px;
    display: flex;
}

.block_one_text{
    width: 854px;
    height: 497px;
    padding-top: 166px;
    margin-left: 300px;
}

.from_the_moment{
    color: #FFFFFF;
    font-size: 80px;
    font-family: ubuntu-Bold;
    width: 854px;
}

.at_vero_eos{
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 20px;
    font-family: ubuntu-Regular;
    line-height: 30px;
}

.button_one{
    width: 200px;
    height: 65px;
    background-color: #F23849;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
}
.button_one:hover{
    background-color: #FF496C;
}
.button_one:active{
    background-color: #f23849;
}
.button{
    padding-top: 70px;
}

.block_one_women{
    width: 158px;
    height: 175px;
}

.women_one_cont{
    position: relative;
    margin-top: 208px;
    margin-left: 296px;
}

.women_one{
    position: absolute;
    padding-left: 44px;
    padding-top: 18px;
}

.dariana_text{
    position: absolute;
    margin-top: -70px;
    padding-left: 17px;
    width: 130px;
    font-family: poppins_medium;
}

.dariana{
    color: #161617;
    font-size: 14px;
}

.yoga_master{
    color: #FFFFFF;
    font-size: 14px;
}

.yoga_master_text{
    margin-top: -50px;
    padding-left: 35px;
    width: 90px;
    font-family: poppins_regular;
}

.stars{
    margin-top: 633px;
    /* margin-right: 347px; */
}
.contsecond{
    width: 100%;
    height: 870px;
}

.body_btn {
    margin-left: 299px;
    background-color: #f23849;
    border: none;
    width: 160px;
    height: 45px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 70px;
}

.body_btn:hover{
    background-color: #FF496C;
}

.bodytxt{
    font-size: 80px;
    color: #FFFFFF;
    width: 854px;
    margin-left: 300px;
    font-family: ubuntu-Bold;
}

.secondbodytxt{
    width: 793px;
    color: #FFFFFF;
    margin-top: px;
    margin-left: 300px;
    font-family: ubuntu-Regular;
    margin-top: -300px;
}

.secondblocktxt{
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: ubuntu-Bold;
    font-size: 20px;

}

.bottomsecondblocktxt{
    color: #FFFFFF;
    font-family: ubuntu-Regular;
    line-height: 30px;
    text-align: center;
}


.groups{
    width: 100%;
    display: flex;
    gap: 45px;
    height: 437px;
    background-color: #222224;
    justify-content: center;
    align-items: center;

}

.workout_in_groups{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nutrition_in_groups{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progression_in_groups{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prorgession{
    display: flex;
    gap: 170px;
}
.push{
    font-size: 46px;
    color: #FFFFFF; 
    padding-bottom: 20px;
    font-family: ubuntu-Bold;
    font-size: 46px;
}

.train{
    color: #FFFFFF;
    font-family: ubuntu-Regular;
    width: 430px;
    line-height: 30px;
}

.fivth_block{
    height: 940px;
    width: 100%;
    background-color: #28282A;
}

.skameyka_block{
    position: relative;
}

.skameyka{
    padding-left: 135px;
}

.group_one{
    position: absolute;
    top: 50px;
    left: 550px;
}

.group_two{
    position: absolute;
    top: 200px;
    left: 70px;
}

.group_three{
    position: absolute;
    top: 540px;
    left: 300px;
}

.fivth_block_two{
    display: flex;
    padding-top: 140px;
    padding-left: 300px;
}

.reports{
    margin-right: 100px;
    position: absolute;
    padding-top: 400px;

}

.fivth_text{
    color: #FFFFFF;
    height: 150px;
    font-family: ubuntu-Bold;
    font-size: 46px;
}

.fivth_text_bottom{
    color: #FFFFFF;
    font-family: ubuntu-Regular;
    font-size: 18px;
    line-height: 30px;
    padding-top: 35px;
    width: 480px;
}
.areyou{
    background-color: #f23849;
    width: 400px;
    height: 313px;
    border-radius: 10px;
    font-family: ubuntu-Bold;
}

.areyoutxt{
    color: #FFFFFF;
    font-size: 46px;
    margin-left: 43px;
    padding-top: 37px;
}

.ready{
    display: flex;
    margin-left: 300px;
    padding-top: 93px;
    
}

.readyy{
    background-color: #222224;
    width: 100%;
    height: 500px;
}

.learnbutton{
    color: #FFFFFF;
    width: 160px;
    height: 55px;
    border-radius: 10px;
    border: none;
    justify-items: center;
    margin-left: 110px;
    margin-top: 40px;
    font-family: ubuntu-Medium;
}

.learnbutton:hover{
    background-color: #ffd2d3;
}
.learnbutton:active{
    background-color: #fdb4b4;
}
.learntxt{
    color: #f23849;
    font-size: 18px;
    justify-content: center;
}

.fatimg{
    height: 90px;
    width: 90px;
    margin-left: 132px;
    padding-top: 40px;
}

.fattxt{
    padding-left: 240px;
    color: #FFFFFF;
    font-size: 24px;
    margin-top: -60px;
    font-family: ubuntu-Bold;
}

.muscletxt{
    color: #FFFFFF;
    font-size: 24px;
    margin-left: 250px;
    margin-top: -60px;
    font-family: ubuntu-Bold;
}



.video{
    background-image: url(../img/video.png);
    height: 650px;
    justify-items: center;
    width: 100%;
}

.playsvg{
    /* padding-top: 249px; */
    margin-top: 249px;
}

.excercise{
    padding-left: 1336px;
    padding-top: 137px;
}

.seventh-block{
    background-color: #28282A;
    width: 100%;
    height: 992px;
}

.seventh{
    display: flex;
    margin-left: 299px;
}

.sevensblocks{
    flex-direction: column;
    margin-top: 211px;
}

.sportsguys{
    margin-left: 200px;
    margin-top: 130px;
}

.iconstxt{
    color: #FFFFFF;
    font-family: ubuntu-Regular;
}

.divitemstxt{
    justify-items: center;
}

.divtxt{
    display: flex;
}

.iconsseventh{
    margin-top: 50px;
}

.Free{
    padding-bottom: 55px;
}

.Tons{
    padding-bottom: 55px;
}

.whychoose{
    font-size: 46px;
    color: #FFFFFF;
    font-family: ubuntu-Bold;
    margin-bottom: 10px;
}

.bottomwhychoose{
    font-size: 18px;
    color: #FFFFFF;
    font-family: ubuntu-Regular;
    line-height: 32px;
    width: 500px;
}

.bottomtext{
    font-size: 16px;
    color: #969696;
    margin-left: 20px;
    line-height: 30px;
    font-family: ubuntu-Regular;
}


.eight_block{
    background-color: #222224;
    width: 100%;
    height: 960px;
    padding-top: 130px;
}

.from_punch{
    justify-items: center;
    font-family: ubuntu-Bold;
}

.from_punch_bottom{
    justify-items: center;
    margin-top: 20px;
    font-family: ubuntu-Regular;
}

.switch{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: ubuntu-Medium;
}

.standart_premium{
    background-color: #343436;
    width: 837px;
    height: 512px;
    display: flex;
    border-radius: 24px;
    /* gap: 252px; */
    /* padding-left: 200px; */
    align-items: center;
    font-family: ubuntu-Bold;
    justify-content: space-evenly;
}

.expert{
    background-color: #f23849;
    width: 432px;
    height: 512px;
    border-radius: 24px;
    justify-items: center;

    font-family: ubuntu-Bold;
}

.standart_premium_expert{
    display: flex;
    gap: 52px;
    margin-left: 300px;
}

.text_standart_premium{
    font-size: 24px;
    color: #969696;
}

.coast{
    font-size: 72px;
    color: #FFFFFF;
}

.sale{
    font-size: 16px;
    color: #616161;
}

.oneday{
    font-size: 16px;
    color: #969696;
    margin-top: 20px;
}

.button_details_standart{
    background-color: #222224;
    color: #FFFFFF;
    border-radius: 5px;
    width: 160px;
    height: 55px;
    margin-top: 128px;
    font-family: ubuntu-Medium;
    font-size: 18px;
    border: none;
    text-decoration: none;
}

.button_details_premium{
    background-color: #222224;
    color: #FFFFFF;
    border-radius: 5px;
    width: 160px;
    height: 55px;
    margin-top: 53px;
    font-family: ubuntu-Medium;
    font-size: 18px;
    border: none;
    text-decoration: none;
}

.button_details_premium:hover{
    background-color: #000000
}

.button_details_standart:hover{
    background-color: #000000
}

.standart{
    justify-items: center;
    margin: 20px;
}
.premium{
    justify-items: center;
    margin: 20px;
}

.text_expert{
    font-size: 24px;
    color: #E5E5E5;
    margin-top: 40px;
}

.coast_two{
    font-size: 72px;
    color: #FFFFFF;
}

.sale{
    font-size: 16px;
    color: #222224;
}

.privileges{
    font-size: 16px;
    color: #E5E5E5; 
    margin-top: 16px;
}

.button_expert{
    color: #f23849;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 160px;
    height: 55px;
    margin-top: 40px;
    font-size: 18px;
    font-family: ubuntu-Medium;
    border: none;
    text-decoration: none;
}

.button_expert:hover{
    background-color: pink;
}

.eight_block_text{
    font-size: 56px;
    color: #FFFFFF;
}

.eight_block_text_second{
    font-size: 18px;
    color: #FFFFFF;
}

.switch_text{
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 10px;
}

.nine_block{
    background-color: #28282A;
    width: 100%;
    height: 1073px;
}

.expert_team{
    justify-items: center;
    color: #E5E5E5;
    padding-top: 144px;
}

.our_expert_team{
    font-family: ubuntu-Bold;
    font-size: 56px;
}

.our_expert{
    font-family: ubuntu-Regular;
    font-size: 18px;
    padding-top: 20px;
}

.trainers{
    display: flex;
    gap: 80px;
    margin-left: 356px;
    margin-top: 50px;
}

.trainer{
    justify-items: center;
    display: flex;
}

.white_block{
    width: 400px;
    height: 128px;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 0px 0px 15px 15px;
}

.insta{
    width: 48px;
    height: 48px;
    flex-direction: column;
    margin-top: 2px;
}

.white_block_red{
    width: 400px;
    height: 128px;
    background-color: #f23849;
    display: flex;
    border-radius: 0px 0px 15px 15px;
}

.medals{
    width: 60px;
    padding-top: 34px;
    margin-left: 144px;
}

.kubok{
    padding-top: 34px;
    margin-left: 186px;
}

.medals_black{
    width: 60px;
    padding-top: 34px;
    margin-left: 100px;
}

.jancy{
    align-content: center;
    color: #f23849;
    margin-left: 20px;
}

.jancy_text{
    font-family: ubuntu-Bold;
    font-size: 24px;
}

.jancy_text_red{
    font-family: ubuntu-Bold;
    font-size: 24px;
    color: #FFFFFF;
}

.architectt{
    font-family: ubuntu-Regular;
    font-size: 18px;
}

.architectt_red{
    font-family: ubuntu-Regular;
    font-size: 18px;
    color: #FFFFFF;
}

.whites_block{
    display: flex;
    gap: 60px;
    margin-left: 310px;
}

.image_women{
    position: relative;
    margin-top: 19px;
}

.back{
    position: absolute;
    width: 400px;
    height: 392px;
    padding-top: 280px;
    margin-left: -46px;
}

.back_red{
    position: absolute;
    width: 400px;
    height: 392px;
    padding-top: 110px;
    margin-left: -352px;

}

.tenblock{
    background-color: #222224;
    width: 100%;
    height: 823px;
    margin-top: 0px;
}

.ten_block_txt{
    justify-items: center;
}


.happy_clients{
    color: #FFFFFF;
    font-family: ubuntu-Bold;
    font-size: 56px;
    padding-top: 117px;
}

.at_vero_ten{
    color: #FFFFFF;
    font-family: ubuntu-Regular;
    font-size: 18px;
    padding-top: 20px;   

}

.omnis_ten{
    color: #FFFFFF;
    font-family: ubuntu-Regular;
    font-size: 16px;
    padding-top: 100px;
    width: 470px;
    line-height: 30px;
}

.martinez_ten{
    color: #F23849;
    font-family: ubuntu-Bold;
    font-size: 24px;
    padding-top: 30px;
}

.social{
    padding-top: 40px;
}

.arrows{
    padding-top: 80px;
}

.ten_block_text{
    padding-left: 296px;
    width: 436px;
}



.display{
    display: flex;
}

.tamas{
    padding-left: 104px;
    position: absolute;
    padding-top: 70px;
}

.man_one{
    padding-left: 284px;
    position: relative;
}

.man_two{
    padding-left: 153px;
    position: relative;
    padding-top: 31px;
}

.man_three{
    padding-left: 228px;
    position: relative;
    padding-top: 43px;
}

.mid_woman{
    padding-left: 392px;
    position: absolute;
    margin-top: -270px;
}

.man_four{
    padding-left: 623px;
    position: absolute;
    margin-top: -300px;
}

.man_five{
    padding-left: 777px;
    position: absolute;
    margin-top: -180px;
}

.woman_two{
    padding-left: 611px;
    position: absolute;
    margin-top: -100px;
}

.photos{
    padding-top: 100px;
}

.right_arrow{
    padding-left: 40px;
}

.eleven_block{
    background-color: #28282A;
    height: 230px;
    width: 100%;
    display: flex;
}

.cards_sports_map{
    display: flex;
    padding-top: 80px;
    gap: 40px;
    margin-left: 50px;
}

.block_cards{
    justify-items:center ;
    padding-left: 200px;
}


.cards_text{
    font-family: ubuntu-Bold;
    font-size: 20px;
    color: #FFFFFF;
 
    padding-left: 20px;
}

.cards_text_bottom{
    font-family: ubuntu-Regular;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 20px;
}

.twelve_block{
    height: 520px;
    background-color: #222224;
    justify-items: center;
    width: 100%;
    height: 520px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.news_text{
    font-family: ubuntu-Bold;
    font-size: 56px;
    color: #FFFFFF;
    justify-items: center;
    
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gym_base{
    font-family: ubuntu-Regular;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
    line-height: 30px;
    width: 795px;
}

.qwer{
    justify-items: center;
}

.email_block{
    width: 350px;
    height: 60px;
    border-radius: 5px;
    /* margin-right: 10px; */
    border: none;
    text-decoration: none;
    padding-left: 20px;
    background-color: #28282A;
}

.zapros{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 430px;
    margin-top: 52px;
}

.lupa_button{
    background-color: #F23849;
    width: 80px;
    height: 60px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

.thirteen_block{
    background-color: #28282A;
    width: 100%;
    height: 525px;
}
.first_thirteen{
    margin-top: 90px;
}
.podblock{
    display: flex;
    gap: 182px;
    margin-left: 250px;
}

.gantel{
    width: 100px;
    height: 100px;
}

.contact_info{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.contact_inf{
    font-family: ubuntu-Regular;
    font-size: 16px;
    color: #969696;
}

.cum_socils{
    font-family: ubuntu-Regular;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
}
.opening_hours_block{
    margin-top: 105px;
}
.corporate{
    margin-top: 105px;
}
.service{
    margin-top: 105px;
}
.our_service{
    font-family: ubuntu-Medium;
    font-size: 22px;
    color: #FFFFFF;

}

.our_services{
    font-family: ubuntu-Regular;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 20px;
}

.block_hours{
    display: flex;
    gap: 53px;
}

.week{
    display: flex;
    padding-top: 30px;
    gap: 20px;
}

.opening_hours{
    font-family: ubuntu-Medium;
    font-size: 22px;
    color: #FFFFFF;
}

.days_week{
    font-family: ubuntu-Regular;
    font-size: 16px;
    color: #FFFFFF;
}

.footer{
    width: 100%;
    height: 50px;
    background-color: #161617;
    display: flex;
    column-gap: 988px;
    align-items: center;
}

.copyright{
    padding-left: 301px;
}

.copy_text{
    font-family: ubuntu-Regular;
    font-size: 12px;
    color: #777E90;
}

.icons_footer{
    display: flex;
    gap: 20px;
}